.Main {
  width: 100%;
}

.LayerUnder {
  width: 100%;
}

.LayerLargeTitle {
  font: #ffff;
}

.LayerMiddleTitle {
  font-weight: bold;
}

.LayerSmallTitle {
  padding-left: 1em;
  word-wrap: break-word;
}