.Main {
	background-color: #4caf50;
	width: 100%;
}

.LayerUnder {
	background-color: #4caf50;
	width: 100%;
}

.LayerMiddleTitle {
    font-weight: bold;
}

.LayerSmallTitle {
  padding-left: 1em;
  word-wrap:break-word;
}